/*CABECERA DEL SITIO*/
#cabecera {
	font-family:Montserrat!important;
	background-color: rgba(18,18,28,0.8)!important;
	border-style: solid solid solid solid !important;
	border-radius: 1.5ex !important;
	border-color:rgb(18,18,28) !important;
	border-width: 0.6ex !important;
	padding: 0ex 0ex 0ex 0ex !important;
}
#logoPrincipal, #aLogo{
	margin: 0em 0em 0em 0em !important;
	padding: 0em 0em 0em 0em !important;
}
#cabecera a:link, #cabecera a:visited{
	color:#E4F7FF !important;
}
#cabecera a:hover{
	color: #fcaf3e!important;
}
#tituloLogo{
	font-size:1.4ex;
}
#dia{
	font-size:1.3ex;
	margin:0ex 0ex 0ex 0ex !important;
}
#titulo0{
	color:#E4F7FF !important;
	margin-left: 8ex;
}
#titulo0 h1{
	margin:0ex 0ex 0ex 0ex !important;
	text-shadow: 1px 4px #798E48;
}
#titulo0 h6{
	font-size:1.4ex;
}
#cabecera form button,#cabecera form input{
	font-size:1.5ex!important;
}
#sectorUsuario .btn{
	background-color:#020919!important;
}
#logoUser{
	border-style: solid solid solid solid !important;
	border-radius: 0.8ex !important;
	border-color: #665c3f !important;
	border-width: 0.4ex !important;
	width:76px;
	height:76px;
}

/*CUERPO DEL SITIO*/
#cuerpo{
	background-color: rgba(31,36,45,0.68)!important;
	border-style: solid solid solid solid;
	border-radius: 6px;
	border-color:rgb(30,35,44);
	border-width: 0.6ex;
	margin-bottom: 2ex;
	margin-top:16ex;
}
body{
	background-image: url("/Vistas/imagenes/pollock4.jpg"); 
	background-size: auto;
	margin: 0ex 0ex 0ex 0ex;
	padding: 0ex 0ex 0ex 0ex;
	font-family:Montserrat!important;
}
#cuerpo li{
	background-color: rgba(18,18,28,0.8)!important;
	border-style: solid solid solid solid !important;
	border-radius: 1.5ex !important;
	border-color:rgb(18,18,28) !important;
	border-width: 0.6ex !important;
	padding: 0ex 0ex 0ex 0ex !important;
}
#tablaLista{
	color:#E4F7FF !important;
}
/*
#listaSecciones {
	background-color: rgba(20,30,40,0.07)!important;
	border-radius: 0.4ex;
	border-style:solid solid solid solid !important;
	border-color:rgb(16,26,36) !important;
	border-width: 0.4ex;
}
#listaSecciones li {
	margin: 1.4ex 0ex 0ex 0ex !important;
	background-color:rgba(20,30,40,0.42)!important;
	border-radius: 0.4ex;
	border-style:solid solid solid solid !important;
	border-color:rgb(10,20,25) !important;
	border-width: 0.4ex;
}
#listaSecciones a:link, #listaSecciones a:visited{
	text-decoration: none !important;
	font-size:2.4ex !important;
	color:#e4f7ff!important;
}
#listaSecciones a:hover{
	text-decoration: none !important;
	color:#fcaf3e !important;
}*/
#cuerpo h1{
	color:#e4f7ff !important;
	font-size: 4ex;
	text-align: center;
}
#cuerpo h2{
	color:#e4f7ff !important;
	font-size: 2.5ex;
	text-align: center;
}
hr{
	background-color: #d39713!important;
}
/*
#ultimosComents {
	color:#e4f7ff !important;
}
#ultimosComents0 {
	text-decoration: none !important;
	background-color:rgba(20,30,40,0.74)!important;
}
#ultimosComents0 li{
	text-decoration: none !important;
	border-style:solid solid solid solid !important;
	border-color:rgb(24,24,34) !important;
	border-width: 0.4ex;
	font-size: 1.5ex;
	color:#ffffff;	
}
#ultimosComents h2{
	color:#e4f7ff !important;
	font-size: 3ex !important;*/
}
/*PIE DEL SITIO*/
#pie {
	background-color: rgba(18,18,28,0.6)!important;
	padding: 1ex 0ex 0ex 0ex;
}
#pie button {
	background-color: rgba(18,18,28,0.8)!important;
	padding: 0.2ex 0ex 0ex 0ex;
}