/*@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');*/
/*@import url('https://fonts.googleapis.com/css?family=Kodchasan:200,300,400,500,600,700');
/*@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Krub:200,300,400,500,600,700');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800');

/*GENERALES(APLICABLES A TODO EL SITIO)*/

*{
	/*font-family:'Martel Sans' !important;
	font-family: 'Nunito', sans-serif;*/
	/*font-family:'Kodchasan', sans-serif;/*/
	/*font-family:'Krub', sans-serif;/*'Bai Jamjuree', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
}
h1{
	color: #EFECEA;;
	font-size: 3.5ex;
	font-weight: 300 !important;
}
h2{
	color: #EFECEA;
	font-size: 1.9ex;
}
h3{
	color: #EFECEA;
	font-size: 2.1ex;
}
h4{
	color: #EFECEA;
	font-size: 1.5ex;
}
h5{
	color: #EFECEA;
	font-size: 1.4ex;
}
h6{
	color: #EFECEA;
	font-size: 1.35ex;
}
p{
	color: #EFDCEA;
	font-size: 1.6ex;
	font-weight: 400;
}
small{
	color: #EFDCEA;
	font-size: 1.3ex !important;
	padding: 0ex 0ex 0ex 0ex !important;
	margin: 0ex 0ex 0ex 0ex !important;
}
a{
	text-decoration: none !important;
	color:#e4f7ff!important;
}
a:link ,a:visted{
	text-decoration: none !important;
	color:#FFFFFF!important;
}
a:hover{
	text-decoration: none !important;
}
.btn{
	background-color:#293238;
	color: #FFFFFF;
	border-style:solid solid solid solid;
	border-radius:0.7ex;
	border-color:#755B2D;
	border-width:0.23ex;
}
.btn:link ,.btn:visted{
	text-decoration: none !important;
	color:#FFFFFF!important;
}
.btn:hover{
	text-decoration: none !important;
}

/*CABECERA DEL SITIO*/
.plano1 {
	background-color: rgba(22, 22, 33, 0.88)!important;
}
#cabecera{
	border-style: solid solid solid solid !important;
	border-color:rgb(18,18,28) !important;
	border-width: 0.2ex !important;
	padding: 0ex 0ex 0ex 0ex !important;
	margin: 0ex 0ex 0ex 0ex !important;
}
#tituloPagina{
	font-size: 5.4ex;
	font-weight: 500;
	margin:0ex 0ex 0ex 0ex !important;
	text-shadow: 1px 4px #798E48;
}
#logoUser{
	border-style: solid solid solid solid !important;
	border-radius: 0.8ex !important;
	border-color: #665c3f !important;
	border-width: 0.4ex !important;
	width:76px;
	height:76px;
}
#busqEnSitio{
	padding: 0.5ex 0ex 0ex 0ex !important;
	margin: 0ex 0ex 0ex 5ex !important;
	line-height:0.9 !important;
}
.enlace:hover{
	text-decoration: none !important;
	color:#c6ccd4 !important;
	background-color: rgba(21, 24, 29, 0.9) !important;
}

/*CUERPO DEL SITIO*/
#cuerpo{
	background-color: rgba(31,36,45,0.68)!important;
}
body{
	/*font-family: 'Kodchasan', sans-serif;/*'Nunito', sans-serif;
	/*font-family:'Krub', sans-serif;/*'Bai Jamjuree', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	background-image: url("/Vistas/imagenes/pollock4.jpg"); 
	background-size: auto;
	margin: 0ex 0ex 0ex 0ex;
	padding: 0ex 0ex 0ex 0ex;
}
#panelIzq, #panelDer{
	background-color: rgba(18,18,28,0.8)!important;
	border-style: solid solid solid solid !important;
	border-radius: 1.5ex !important;
	border-color:rgb(18,18,28) !important;
	border-width: 0.6ex !important;
	padding: 0ex 0ex 0ex 0ex !important;
}
#cuerpo h1{
	color:#e4f7ff !important;
	font-size: 2.8ex;
	text-align: center;
}
#cuerpo h2{
	color:#e4f7ff !important;
	font-size: 2.3ex;
}
.card-title{
	text-align: center !important;
}
.separador {
	width:100%;
	height:2.0ex;
}

/*COMENTARIOS-INICIAL Y SUBSIGUIENTES*/
.contenedor{
	background-color: rgb(243, 244, 245)!important;
	border-radius: 1.5ex !important;
}
#comentarioInicial{ /* comentario inicial del tema*/
	background-color: rgba(38,43,52,0.87)!important;
	padding: 0.6ex 0.4ex 0.4ex 0.6ex !important;
}
#imagenComentador{   /*imagen de quien inicio cierto tema*/
	border-style: solid solid solid solid !important;
	border-radius: 0.9ex !important;
	border-color: #bb8f35!important;
	border-width: 0.3ex !important;
	width:85px;
	height:85px;
}
.comentarista {   /* imagen de quien comenta un tema*/
	border-style: solid solid solid solid !important;
	border-radius: 0.6ex !important;
	border-color: #886a2e!important;
	border-width: 0.2ex !important;
	width:55px;
	height:55px;
}
.redSocial {
	width:35px;
	height:35px;
}
.elComentario{
	font-size: 1.3ex !important;
	padding: 0.2ex 0.4ex 0ex 0.8ex !important;
	margin: 0.2ex 0.2ex 0.2ex 0.3ex;
	border-radius: 1.5ex !important;
	background-color: rgb(243, 244, 245)!important;
	color:#000000 !important;
}
.elComentario p{
	font-size: 2.4ex!important;
	color:#000000 !important;
}
#fechaHora{
	font-size: 1.0ex !important;
	padding: 0ex 0.4ex 0ex 0.3ex !important;
	margin: 0ex 0.2ex 0ex 0.2ex;
}
#fechaHora small{
	font-size: 2.55ex !important;
	padding: 0ex 0ex 0ex 0ex !important;
	margin: 0ex 0ex 0ex 0ex;
}
#comentarioActual{
	margin: 0.2ex 0.2ex 0.2ex 0.3ex !important;
}
.media-left{
	margin: 0.2ex 2.4ex 0.2ex 0ex !important;
}
/*BOTONES DE PAGINACION*/
.page-item a:hover{
	text-decoration: none !important;
	color:#c6ccd4 !important;
	background-color: rgba(21, 24, 29, 0.9) !important;
}
.page-item a{
	background-color:#293238;
	color: #FFFFFF;
	border-style:solid solid solid solid;
	border-radius:0.4ex;
	border-color:#755B2D;
	border-width:0.23ex;
}
/*PIE DEL SITIO*/
#pie {
	background-color: rgba(18,18,28,0.6)!important;
	padding: 1ex 0ex 0ex 0ex;
}
#pie button {
	background-color: rgba(18,18,28,0.8)!important;
	padding: 0.2ex 0ex 0ex 0ex;
}
